@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
}

/* Common */
button {
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; /* màu nền khớp theme */
    -webkit-text-fill-color: #fff !important; /* chữ trắng */
    caret-color: #fff; /* con trỏ gõ chữ cũng trắng */
    transition: background-color 5000s ease-in-out 0s;
}

a {
    text-decoration: none;
    color: unset;
}

li {
    list-style: none;
}

/*  */
html {
    font-size: 62.5%;
    height: 100vh;
     width: 100vw;
    background-color: rgba(198, 198, 198, 0.45);
    overflow: hidden;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
}

.content {
    padding: 0 10rem;
}

.add-btn{
    padding: 0.4rem 1.8rem;
    border: none;
    background-color: #0dded1;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 6px;
    transition: 0.2s;
    height: 4rem;

    &:hover{
        background-color: rgba(11, 186, 175, 0.84);
    }
}
input:focus, textarea:focus {
    outline: none;
    border: none;
}

