@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0dded1;
    --btn-color: #0BBAAF;
    --btn-hover-color: #099b92;
    --btn-text: #ffffff;
    --background-color: #f8f9fa;
    --header-page-color: #1f2937;
    --header-desc-color: #6b7280;
    --label-text-color: #374151;

    --border-color: #d1d5db;

    --input-focus-color: #0BBAAF;
}

/* Common */
a {
    text-decoration: none;
    color: unset;
}

label {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--label-text-color);
}

input {
    padding: 1rem 1.2rem;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-size: 1.4rem;
    width: 40rem;
    height: 4.2rem;
    outline: none;
    transition: border-color 0.2s;
}

input:focus {
    border-color: var(--primary-color);
}

select {
    padding: 0 1.2rem;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-size: 1.4rem;
    width: 24rem;
    height: 4.2rem;
    outline: none;
    cursor: pointer;

}

select:focus {
    border-color: var(--primary-color);
}

li {
    list-style: none;
}

button {
    display: flex;
    align-items: center;
    background-color: var(--btn-color);
    color: var(--btn-text);
    padding: 1.2rem 2rem;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1.4rem;
    cursor: pointer;
    border: 1px solid #d1d5db;
    transition: background-color 0.2s;
}

button:hover {
    background-color: var(--btn-hover-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; /* màu nền khớp theme */
    -webkit-text-fill-color: #fff !important; /* chữ trắng */
    caret-color: #fff; /* con trỏ gõ chữ cũng trắng */
    transition: background-color 5000s ease-in-out 0s;
}


/*  */
html {
    font-size: 62.5%;
    min-height: 100%;
    background-color: rgba(198, 198, 198, 0.45);
    font-family: 'Poppin', sans-serif;
}

body {
    min-height: 100vh;
    overflow-y: auto;
}


.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    box-sizing: border-box;
    background-color: #f8f9fa;
}