.container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.popup-wrapper {
  width: 420px;
  background: white;
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 6px;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  animation: fadeIn 0.2s ease-in-out;

  span {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding-bottom: 1rem;

  }

  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    label {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: 1.6rem;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.5);
    }

    input,
    textarea,
    select {
      padding: 1.2rem 0.8rem;
      border: 1px solid rgba(51, 51, 51, 0.2);
      border-radius: 6px;
      font-size: 1.4rem;
      width: 100%;
      transition: 0.2s;
      background: white;

      &:focus {
        border-color: rgba(51, 51, 51, 0.4);
        outline: none;
      }
    }

    textarea {
      min-height: 10rem;
      max-height: 30rem;
      resize: vertical;
    }

    .button-group {
      border-top: 2px solid rgba(135, 135, 135, 0.4);
      padding-top: 1.5rem;

      display: flex;
      justify-content: flex-end;
      gap: 1rem;

      button {
        padding: 0.8rem 1.6rem;
        border-radius: 6px;
        font-size: 1.4rem;
        font-weight: 500;
        cursor: pointer;
        transition: 0.2s;
      }

      .cancel {
        background: white;
        border: 1px solid rgba(51, 51, 51, 0.2);
        color: rgba(51, 51, 51, 0.5);

        &:hover {
          color: rgba(51, 51, 51, 0.7);
        }
      }

      .submit {
        background: rgba(51, 51, 51, 0.9);
        border: none;
        color: white;

        &:hover {
          background: black;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}