.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

    padding: 2rem;

    & .header {
      display: flex;
      justify-content: space-between;

      & h1 {
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 1.4rem;
      }

      & p {
        font-size: 1.6rem;
        color: rgba(0, 0, 0, 0.5);
      }
    }

    & .filter-block {
      padding: 1.6rem;
      background-color: #f6f6f6;
      border: 1px solid rgba(51, 51, 51, 0.2);
      border-radius: 6px;
      margin-top: 4rem;
      width: 100%;
      display: flex;
      justify-content: space-between;

      & label {
        gap: 1rem;
        display: flex;
        flex-direction: column;
        font-size: 1.6rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.5);

        & input {
          padding: 1.2rem 0.6rem;
          border: 1px solid rgba(51, 51, 51, 0.2);
          border-radius: 6px;
          font-size: 1.4rem;
          width: 50rem;
          height: 4rem;
        }

        & select {
          border: 1px solid rgba(51, 51, 51, 0.2);
          border-radius: 6px;
          font-size: 1.4rem;
          width: 26rem;
          height: 4rem;

        }
      }

      & .search-btn {
        align-self: center;
      }
    }
    & .table-block{
      margin-top: 2rem;
      width: 100%;
      height: 100%;


      & .pages-btn{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        padding-top: 1rem;
        gap: 0.6rem;

        & .page-btn{
          padding: 0.4rem 1.8rem;
          background-color: transparent;
          border: 1px solid rgba(51, 51, 51, 0.3);
          cursor: pointer;
          font-size: 1.4rem;
          font-weight: 700;
          text-transform: uppercase;
          border-radius: 6px;
          transition: 0.2s;
          height: 4rem;
          color: #0d0d0d;

          &:hover{
            background-color: rgba(11, 186, 175, 0.84);
          }
        }
      }
    }
  }
