.slidebar-container{
  width: 100%;
  height: 100vh;
  background-color: #1A202C;
  display: flex;
  flex-direction: column;


  & .logo-container{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & img{

      height: 100%;
    }
  }

  & .slidebar-list{
    padding: 5rem 2rem;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    & .item-nav{
      color: rgba(223, 223, 223, 0.8);
      text-align: left;
      width: 100%;
      display: flex;
      gap: 1.2rem;
      font-size: 1.6rem;
      transition: 0.2s;
      padding: 1.2rem;

      &:hover{
        color: white;
        cursor: pointer;
      }
    }

    & .item-nav:last-child{
      margin-top: 0.4rem;
      position: relative;
      &:before{
        content: "";
        position: absolute;
        top: -10%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: rgb(135, 135, 135);
      }
    }

    & .item-nav.active{
      background-color: #0dded1;
      color: white;
      border-radius: 6px;
    }
  }
}