table {
  width: 100%;
  border-collapse: collapse;
  background: #ffffff;
  border-radius: 6px;
  overflow: hidden;

}

thead {
  background-color: #f5f7fa;
}

th, td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
  font-size: 14px;
}

th {
  font-weight: 600;
  color: #374151;
}

tbody tr:hover {
  background-color: #f9fafb;
}

/* bỏ viền dòng cuối */
tbody tr:last-child td {
  border-bottom: none;
}
