.container {
    width: 100%;
    background-color: #141414;
    & .header {
        height: 50vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3.4rem;

        & .title {
            text-align: center;
            width: 45%;
            height: fit-content;
            font-size: 5.6rem;
            font-weight: 700;
            background: linear-gradient(to right, #ffffff, #888888);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 1.2;
            overflow: visible;
        }
    }
    & .body {
        padding: 0rem 24rem;
        padding-bottom: 10rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & p {
            font-size: 1.6rem;
            margin-top: 2rem;
            width: 100%;
            white-space: pre-wrap;
            word-wrap: break-word;
            word-break: break-word;
            transform-perspective: 1200;
            color: var(--White_80, rgba(250, 250, 250, 0.8));
            line-height: 1.5;
        }
    }
}
