.container {
    width: 100%;
    background-color: #141414;
    & .header {
        height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3.4rem;

        & .title {
            text-align: center;
            width: 45%;
            font-size: 5.6rem;
            font-weight: 700;
            background: linear-gradient(to right, #ffffff, #888888);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        & .search {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 1.2rem 1.6rem;
            background-color: rgba(249, 249, 249, 0.08);
            width: 30%;
            min-width: 300px;
            height: 4rem;
            overflow: visible;
            align-content: center;
            flex-wrap: nowrap;
            gap: 12px;
            border-radius: 24px;

            & .icon {
                color: var(--White_40, rgba(250, 250, 250, 0.4));
                font-size: 1.6rem;
                line-height: 1.2;
            }
            & input {
                width: 100%;
                font-size: 1.6rem;
                line-height: 1.2;
                background-color: transparent;
                border: none;
                color: var(--White_40, rgba(250, 250, 250, 0.4));
                line-height: 1.2;

                &:focus {
                    outline: none; /* bỏ viền xanh mặc định */
                    border: none; /* nếu muốn bỏ luôn border */
                    box-shadow: none; /* bỏ shadow khi focus (Chrome, Safari) */
                }
            }
        }
    }
    & .products-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;

        & .no-product-found {
            grid-column: 1 / -1; // span hết 3 cột
            font-size: 2.5rem;
            font-weight: 600;
            text-align: center;
            color: var(--White_80, rgba(250, 250, 250, 0.8));
            line-height: 1.2;
        }
    }
}
