.container {

  background-color: #141414;

  .header {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .title {
      text-align: center;
      width: 60%;
      height: fit-content;
      font-size: 5.6rem;
      font-weight: 700;
      background: var(--title-color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 1.2;
      overflow: visible;
    }

    .description {
      font-size: 1.4rem;
      color: var(--text-content-color);
      font-weight: 300;
    }
  }

  .body {
    padding: 0rem 22rem;
    padding-bottom: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    .faq-list {
      width: 100%;
      display: flex;
      flex-direction: column;
    }


    .faq-item {
      width: 100%;
      border-bottom: var(--border-color);
      padding: 2.2rem 0;
      transition: all 0.3s ease;

      .question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        width: 100%;

        h3 {
          font-size: 2rem;
          font-weight: 500;
          color: var(--text-header-color);
          margin: 0;
          transition: all 0.3s ease;
        }

        .icon {
          font-size: 2.4rem;
          color: var(--text-header-color);
          font-weight: 300;
          transition: transform 0.3s ease, color 0.3s ease;
        }

        &:hover {
          h3 {
            transform: scale(1.01);
          }

          .icon {
            color: #fff;
          }
        }
      }


      .answer-wrapper {
        overflow: hidden;
      }

      .answer {
        margin-top: 2rem;
        width: 100%;
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: break-word;
        transform-perspective: 1200;
        color: var(--text-header-color);
        line-height: 1.5;
        font-size: 1.6rem;
        font-weight: 300;
      }

      &.active {
        .icon {
          transform: rotate(45deg);
          color: #fff;
        }
      }
    }
  }
}

// --- Responsive  ---
@media (max-width: 1400px) {
  .container .body {
    padding: 0 10rem;
  }
  .container .header .title {
    width: 80%;
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .container .header {
    height: 40vh;

    .title {
      font-size: 3.2rem;
      width: 90%;
    }
  }
  .container .body {
    padding: 0 2rem;

    .faq-item {
      padding: 2rem 0;

      .question h3 {
        font-size: 1.8rem;
      }
    }
  }
}