.container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  .sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.479);
    width: 30%;
    min-width: 300px;
    height: 2px;
    overflow: visible;
    align-content: center;
    flex-wrap: nowrap;
    border-radius: 15px;
    margin-bottom: 5rem;
  }

  select {
    text-align: start;
    width: 30%;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    background-color: rgba(249, 249, 249, 0.08);
    color: var(--text-header-color);
    font-size: 16px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;

    &:focus {
      outline: none;
      box-shadow: var(--btn-shadow-color);
    }
  }

  button {
    cursor: pointer;
    width: 30%;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    background-color: rgba(249, 249, 249, 0.08);
    color: var(--text-header-color);
    font-size: 16px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}