.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5.6rem;
    background-color: #262626;
    gap: 6.4rem;

    & .block-left {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        & h1 {
            width: 40rem;
            font-size: 4.6rem;
            font-weight: 500;
            height: fit-content;
            white-space: pre-wrap;
            word-wrap: break-word;
            word-break: break-word;
            color: var(--White_80, rgba(250, 250, 250, 0.8));
            line-height: 1.2;
        }

        & p {
            width: 45rem;
            font-size: 1.8rem;
            font-weight: 400;
            height: auto;
            white-space: pre-wrap;
            word-wrap: break-word;
            word-break: break-word;
            opacity: 0.8;
            color: var(--White_60, rgba(250, 250, 250, 0.9));
            line-height: 1.2;
        }
    }

    & .block-right {
        display: flex;
        gap: 10rem;

        & ul {
            display: flex;
            flex-direction: column;
            gap: 1.9rem;
            font-size: 2.2rem;
            font-weight: 600;
            color: var(--White_60, rgba(250, 250, 250, 0.8));

            & li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.8rem;
                font-weight: 500;

                &:hover {
                    opacity: 0.8;
                    cursor: pointer;
                }
            }
        }
    }
}
