.container {
    background-color: #141414;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0;
    gap: 2rem;

    & .title {
        text-align: center;
        width: 50%;
        font-size: 5.6rem;
        font-weight: 700;
        background: linear-gradient(to right, #ffffff, #888888);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 1.2;
    }

    & .desc {
        font-size: 2rem;
        font-weight: 500;
        color: var(--White_60, rgba(250, 250, 250, 0.6));
        text-align: center;
        line-height: 1.2;
        width: 30%;
    }

    & form {
        margin-top: 2rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        overflow: visible;
        align-content: center;
        flex-wrap: nowrap;
        gap: 2rem;

        & input {
            width: 48.8rem;
            min-width: 30rem;
            height: 5rem;
            font-size: 1.6rem;
            line-height: 1.2;
            background-color: rgba(249, 249, 249, 0.08);
            border: none;
            color: var(--White_40, rgba(250, 250, 250, 0.4));
            line-height: 1.2;
            border-radius: 2.4rem;
            padding: 1.2rem 1.6rem;

            &:focus {
                outline: none; /* bỏ viền xanh mặc định */
                border: none; /* nếu muốn bỏ luôn border */
                box-shadow: none; /* bỏ shadow khi focus (Chrome, Safari) */
            }
        }
        & button {
            height: 5rem;
            font-size: 1.6rem;
            font-weight: 500;
            background-color: rgba(249, 249, 249, 0.2);
            border: none;
            color: var(--White_40, rgba(250, 250, 250, 0.8));
            border-radius: 2.4rem;
            padding: 1.2rem 1.8rem;
        }
    }
}
