.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem 0;
  gap: 2rem;

  .title {
    text-align: center;
    width: 50%;
    font-size: 5.6rem;
    font-weight: 700;
    background: var(--title-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.2;
  }

  .desc {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-content-color);
    text-align: center;
    line-height: 1.2;
    width: 30%;
  }

  form {
    display: flex;
    gap: 2rem;

    input {
      width: 42rem;
    }

    button {
      font-size: 1.6rem;
      font-weight: 500;
      border-radius: 4rem;
      padding: 1.4rem 2rem;
    }
  }

  @media (max-width: 1024px) {
    padding: 6rem;
    
    .title {
      width: 70%;
      font-size: 4rem;
    }
    
    .desc {
      width: 50%;
      font-size: 1.8rem;
    }
  }

  @media (max-width: 768px) {
    padding: 4rem 2rem;
    
    .title {
      width: 100%;
      font-size: 3.2rem;
    }
    
    .desc {
      width: 100%;
      font-size: 1.6rem;
    }
    
    form {
      flex-direction: column;
      width: 100%;

      input {
        width: 100%;
      }

      button {
        width: 100%;
      }
    }
  }
}