.header {
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
  gap: 3rem;
  padding-bottom: 2rem;

  .title {
    display: inline-block;
    color: var(--text-header-color);
    font-size: 2.2rem;
    font-weight: 500;
  }

  .see-all {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-content-color);
    line-height: 1.2;

    svg {
      margin-left: 1rem;
      display: inline-block;
      text-align: center;
      height: 1.2rem;
      color: inherit;
    }

    &:hover {
      cursor: pointer;
      color: var(--text-header-color);
    }
  }
}

.body {
  width: 100%;
  overflow: visible;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 4rem;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}