.card-wrapper {
    position: relative;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: visible;
    align-content: flex-start;
    flex-wrap: nowrap;
    gap: 24px;

    & img {
        border-radius: 24px;
        width: 100%;
        height: 30.7rem;
        object-fit: cover;
        &:hover {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
    }

    & .footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        & .info {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            & .product-name {
                font-size: 1.8rem;
                font-weight: 600;
                color: var(--White_60, rgba(250, 250, 250, 0.8));
            }
            & .product-type {
                font-size: 1.6rem;
                font-weight: 400;
                color: var(--White_60, rgba(250, 250, 250, 0.4));
            }
        }
        & .product-price {
            font-size: 1.9rem;
            font-weight: 600;
            color: var(--White_60, rgba(250, 250, 250, 0.7));
        }
    }
    & .tag {
        position: absolute;
        top: 1.4rem;
        left: 1.4rem;
    }
  &:hover{
    cursor: pointer;
  }
}
