.container {
    width: 100%;
    background-color: #141414;

    & .header {
        padding-top: 12rem;
        gap: 6rem;
        display: flex;
        height: 100vh;

        & .image {
            position: relative;
            flex: 2;
            height: 46.1rem;
            border-radius: 1.5rem;
            img {
                border-radius: 1.5rem;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            & .next-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.8rem;
                font-weight: 500;
                color: var(--White_60, rgba(250, 250, 250, 0.8));
                width: 3rem;
                height: 3rem;
                position: absolute;
                border-radius: 50%;
                padding: 2rem;
                background-color: #14141468;
                border: none;

                &:hover {
                    cursor: pointer;
                    background-color: #14141498;
                }
            }

            & .left {
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
            & .right {
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
        }

        & .info {
            flex: 3;
            display: flex;
            flex-direction: column;
            gap: 3rem;

            & .name-price {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                & h2 {
                    font-size: 4rem;
                    width: 100%;
                    height: auto;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                    word-break: break-word;
                    transform-perspective: 1200;
                    line-height: 1.2;
                    color: var(--White_60, rgba(250, 250, 250, 0.8));
                }

                & .price {
                    display: flex;
                    align-items: center;
                    gap: 3rem;
                    & .old-price {
                        font-size: 1.8rem;
                        font-weight: 500;
                        text-decoration: line-through;
                        color: var(--White_80, rgba(250, 250, 250, 0.5));
                    }

                    & .new-price {
                        font-size: 2.4rem;
                        font-weight: 500;
                        white-space: pre;
                        transform-perspective: 1200;
                        color: var(--White_80, rgba(250, 250, 250, 0.8));
                        line-height: 1.2;
                    }
                }
            }
        }
        & .desc {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            & p {
                font-size: 1.6rem;
                width: 100%;
                height: auto;
                white-space: pre-wrap;
                word-wrap: break-word;
                word-break: break-word;
                transform-perspective: 1200;
                opacity: 0.8;
                color: var(--White_80, rgba(250, 250, 250, 0.8));
                line-height: 1.5;
            }
        }

        & .btn-group {
            display: flex;
            gap: 2rem;
            width: 100%;
            & button {
                box-sizing: border-box;
                height: 5.2rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 1.2rem 2rem;
                box-shadow:
                    0px 8px 36px 0px rgba(255, 255, 255, 0.11),
                    inset 0px -1px 2px 0px rgba(255, 255, 255, 0.550000011920929);
                background: linear-gradient(
                    180.0000000000008deg,
                    rgba(250, 250, 250, 0.2) 0%,
                    rgba(249, 249, 249, 0.06) 100%
                );
                overflow: hidden;
                align-content: center;
                flex-wrap: nowrap;
                gap: 1rem;
                transform-perspective: 1200;
                border-radius: 40px;
                color: var(--White_80, rgba(250, 250, 250, 0.9));
                font-size: 1.4rem;
                font-weight: 600;
                cursor: pointer;
            }
            & .btn-add {
                flex: 2;
            }
            & .btn-buy {
                flex: 3;
            }
        }
    }
}
