.container {
    width: 100%;
    background-color: #141414;
    padding-top: 5rem;

    .alert {
        position: fixed; /* luôn dính trên màn hình */
        top: 20px; /* cách trên 20px */
        left: 50%; /* canh giữa */
        transform: translateX(-50%); /* chỉnh tâm ra giữa */
        z-index: 9999; /* nổi lên trên cùng */
        width: auto;
        max-width: 600px; /* giới hạn độ rộng */
        font-size: 1.6rem;
        font-weight: 500;
    }

    & .checkout-wrapper {
        height: 100vh;
        margin-top: 5rem;
        display: flex;
        align-self: start;
        justify-content: center;
        gap: 4rem;

        .tittle {
            font-size: 2.2rem;
            font-weight: 500;
            color: var(--White_80, rgba(250, 250, 250, 0.8));
        }

        & .block-left {
            flex: 3;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            & form {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                & label {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 1.2rem 1.6rem;
                    background-color: rgba(249, 249, 249, 0.08);
                    width: 100%;
                    min-width: 300px;
                    height: 5rem;
                    overflow: visible;
                    align-content: center;
                    flex-wrap: nowrap;
                    gap: 12px;
                    border-radius: 24px;
                    & .infor-input {
                        width: 100%;
                        font-size: 1.6rem;
                        line-height: 1.2;
                        background-color: transparent;
                        border: none;
                        color: var(--White_40, rgba(250, 250, 250, 0.9));
                        line-height: 1.2;

                        &:focus {
                            outline: none; /* bỏ viền xanh mặc định */
                            border: none; /* nếu muốn bỏ luôn border */
                            box-shadow: none; /* bỏ shadow khi focus (Chrome, Safari) */
                        }
                    }
                    select {
                        width: 100%; /* chiều rộng */
                        padding: 10px 15px; /* khoảng cách trong */
                        border: none; /* bỏ viền mặc định */
                        border-radius: 24px; /* bo góc */
                        background-color: #222; /* màu nền */
                        color: #fff; /* màu chữ */
                        font-size: 16px; /* cỡ chữ */
                        appearance: none; /* bỏ style mặc định (Chrome, Safari) */
                        -moz-appearance: none; /* bỏ style mặc định (Firefox) */
                        -webkit-appearance: none; /* bỏ style mặc định (Safari) */
                    }

                    select:focus {
                        outline: none; /* bỏ outline xanh khi focus */
                        border: 2px solid #555; /* thêm border khi focus */
                    }
                }
                & .address-detail-block {
                    display: flex;
                    gap: 2rem;
                }

                & button {
                    box-sizing: border-box;
                    height: 5.2rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 1.2rem 2rem;

                    box-shadow:
                        0px 8px 36px 0px rgba(255, 255, 255, 0.11),
                        inset 0px -1px 2px 0px rgba(255, 255, 255, 0.550000011920929);
                    background: linear-gradient(
                        180.0000000000008deg,
                        rgba(250, 250, 250, 0.2) 0%,
                        rgba(249, 249, 249, 0.06) 100%
                    );
                    overflow: hidden;
                    align-content: center;
                    flex-wrap: nowrap;
                    gap: 1rem;
                    transform-perspective: 1200;
                    border-radius: 40px;
                    color: var(--White_80, rgba(250, 250, 250, 0.9));
                    font-size: 1.6rem;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
        }

        & .block-right {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            & .oder-wrapper {
                padding: 2rem;
                width: 100%;
                height: 42rem;
                border: 1px solid var(--White_80, rgba(250, 250, 250, 0.2));
                border-radius: 0.8rem;

                & hr {
                    border: 1px solid #68686850;
                    border-radius: 0.5rem;
                    width: 90%;
                }

                & .body {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    gap: 2rem;
                    width: 100%;
                    height: 62%;
                    max-height: 60%;
                    border-radius: 0.8rem;
                    overflow-y: scroll;
                    & .no-product {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: center;

                        color: var(--White_40, rgba(250, 250, 250, 0.9));
                        font-size: 1.8rem;
                        font-weight: 500;
                    }
                }

                .more {
                    display: flex;
                    justify-content: space-between;
                    padding: 1rem 0;
                }

                & .detail-price {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    & span {
                        color: var(--White_40, rgba(250, 250, 250, 0.9));
                        font-size: 1.8rem;
                        font-weight: 500;
                    }
                }

                & .total {
                    color: var(--White_40, rgba(250, 250, 250, 0.9));
                    font-size: 2rem;
                    font-weight: 500;
                }
            }
        }
    }
}
