.container {
    background-color: #141414;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;

    & h2 {
        font-size: 5.6rem;
        font-weight: 700;
        background: linear-gradient(to right, #ffffff, #888888);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .reviews-wrapper {
        margin-top: 4rem;
        width: 100%;
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(2, 1fr);
    }
}
