.item-wrapper{
  background: #0dded1;
  width: fit-content;
  height: 100%;
  padding: 0.4rem 1.2rem;
  border-radius: 0.4rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  .item{
    font-size: 1.4rem;
    color: #ececec;
  }
}