.container{
  position: absolute;
  display: flex;
  align-items: center;
  gap: 2rem;
  top: 120%;
  left: 0;
  width: 100%;
  min-height: fit-content;
  background: #262626;
  border-radius: 0.8rem;

  span{
    margin: 0 0.6rem;
  }


  .body{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0.6rem;
    align-items: center;
    gap: 0.6rem;
    overflow: auto;

    /* --- Custom Scrollbar (Chrome, Edge, Safari) --- */
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 4px;
    }


    &::-webkit-scrollbar-thumb {
      background-color: #555;
      border-radius: 4px;
    }


    &::-webkit-scrollbar-thumb:hover {
      background-color: #777;
    }


    scrollbar-width: thin;
    scrollbar-color: #555 transparent;

  }
}