.container{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4.6rem;
  background: #3f3f3f;
  border-radius: 0.8rem;

  .body{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0.6rem;
    align-items: center;
    gap: 0.6rem;
    overflow: auto;
  }
}