.container {
    z-index: 1000;
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    background-color: #141414;
    overflow: visible;
    align-content: center;
    flex-wrap: nowrap;
    position: fixed;

    & .logo {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        & img {
            max-height: 15rem;
        }
    }

    & .search {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1.2rem 1.6rem;
        background-color: rgba(249, 249, 249, 0.08);
        width: 488px;
        min-width: 300px;
        height: 4rem;
        overflow: visible;
        align-content: center;
        flex-wrap: nowrap;
        gap: 12px;
        border-radius: 24px;

        & .icon {
            color: var(--White_40, rgba(250, 250, 250, 0.4));
            font-size: 1.6rem;
            line-height: 1.2;
        }
        & input {
            width: 100%;
            font-size: 1.6rem;
            line-height: 1.2;
            background-color: transparent;
            border: none;
            color: var(--White_40, rgba(250, 250, 250, 0.4));
            line-height: 1.2;

            &:focus {
                outline: none; /* bỏ viền xanh mặc định */
                border: none; /* nếu muốn bỏ luôn border */
                box-shadow: none; /* bỏ shadow khi focus (Chrome, Safari) */
            }
        }
    }

    & .hotlinks {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        gap: 5rem;

        & li {
            padding: 1rem 0rem;
            position: relative;
            font-size: 1.6rem;
            line-height: 1.2;
            white-space: pre;
            color: var(--White_100, #fafafa);
            line-height: 1.2;
            cursor: pointer;
            & .submenu {
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.2s;

                &:hover,
                .submenu.isOpen {
                    visibility: visible;
                    opacity: 1;
                }
            }

            & .username:hover + .submenu,
            .submenu.isOpen {
                visibility: visible;
                opacity: 1;
            }
            & svg {
                width: 24px;
                height: 24px;
                position: absolute;
            }
        }
    }
}
