.container {
    top: 42px;
    left: -50%;
    padding: 1rem 1.5rem;
    width: 250px;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.15);
    background-color: #141414;
    overflow: hidden;
    align-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    border-radius: 10px;
    position: absolute;

    & Link {
        & li {
            padding: 1.5rem;
            width: 100%;
            height: fit-content;
            white-space: pre;
            color: var(--White_40, rgba(250, 250, 250, 0.4));
            line-height: 1.2;

            &:hover {
                text-shadow: rgba(194, 200, 206, 0.553) 0px 8px 24px;
            }
        }
    }
}
