.container {
    box-sizing: border-box;
    width: fit-content;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.2rem;
    background-color: rgba(40, 40, 40, 0.7);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    border-radius: 32px;

    & span {
        font-size: 1.4rem;
        color: white;
    }
}
